<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>AFET</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"></script>
</head>
<body>
<div class="metanav" >
    <ul >
    <% IF not session.logged_in %>
       <li><a href="<% login_url %>">Log in</a></li>
       <li><a href="<% register_url %>">Register</a></li>
     </ul>
     <% ELSE %>
       <li><a href="<% logout_url %>">Log out</a></li>
     <% END %>
    </ul>
</div>
<div id="wrapper">
<div class="navigation">
    <ul>
       <li><a href="/">Main</a></li>
       <li><a href="/army">Army</a></li>
       <li><a href="/navy">Navy</a></li>
       <li><a href="/raf">RAF</a></li>
       <li><a href="#">Your profile</a></li>
       <li><a href="/manual">User manual</a></li>
       <li><a href="/contact">Contact</a></li>
   </ul>
</div>
    <div id="left"></div>
    <div id="content">
        <% content %>
    </div>
    <div id="right"></div>
    <div id="footer">Copyright &copy; Tamara Lennart</div>
</div>
</body>
</html>
