<h1> Whole test </h1>
<p>This test is not timed, you can do it in your own time</p>
<p><% a  %></p>

<form action="/test/check_answers" method="post">
<% IF start_time.defined  %>
<input type="hidden" name="start_time" value="<% start_time %>"/>
<% END %>
<h2>Non verbal reasoning</h2>
<ol>
    <% FOREACH q IN nonverb %>
        <li>
        <input type="hidden" name="id_quest" value="<% q.id_quest %>"/>
        <input type="hidden" name="right_ans_<% q.id_quest %>" value="<% q.right_ans %>"/>
        <input type="hidden" name="subcat_<% q.id_quest %>" value="<% q.id_subcat %>"/>
        <% q.quest_text %><br>
        <% IF q.img %><br><img src="<% q.img %>"/><br><br><% END %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "A"><% q.ans_a %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "B"><% q.ans_b %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "C"><% q.ans_c %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "D"><% q.ans_d %>
        </li><br>
    <% END %>
</ol>
<h2>Verbal reasoning</h2>
<ol>
     <% FOREACH q IN verb %>
        <li>
        <input type="hidden" name="id_quest" value="<% q.id_quest %>"/>
        <input type="hidden" name="right_ans_<% q.id_quest %>" value="<% q.right_ans %>"/>
        <input type="hidden" name="subcat_<% q.id_quest %>" value="<% q.id_subcat %>"/>
        <% q.quest_text %><br><br>
        <% IF q.img %><br><img src="<% q.img %>"/><br><% END %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "A"><% q.ans_a %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "B"><% q.ans_b %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "C"><% q.ans_c %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "D"><% q.ans_d %>
        </li><br>
    <% END %>
</ol>
<h2>Numeracy</h2>
<ol>
     <% FOREACH q IN num %>
        <li>
        <input type="hidden" name="id_quest" value="<% q.id_quest %>"/>
        <input type="hidden" name="right_ans_<% q.id_quest %>" value="<% q.right_ans %>"/>
        <input type="hidden" name="subcat_<% q.id_quest %>" value="<% q.id_subcat %>"/>
        <% IF q.img %><br><img src="<% q.img %>"/><br><% END %>
        <% q.quest_text %><br><br>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "A"><% q.ans_a %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "B"><% q.ans_b %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "C"><% q.ans_c %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "D"><% q.ans_d %>
        </li><br>
    <% END %>
</ol>
<% IF service != 'army'  %>
<h2>Mechanical Comprehension</h2>
<ol>
    <% FOREACH q IN mech %>
        <li>
        <input type="hidden" name="id_quest" value="<% q.id_quest %>"/>
        <input type="hidden" name="right_ans_<% q.id_quest %>" value="<% q.right_ans %>"/>
        <input type="hidden" name="subcat_<% q.id_quest %>" value="<% q.id_subcat %>"/>
        <% q.quest_text %><br><br>
        <% IF q.img %><br><img src="<% q.img %>"/><br><% END %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "A"><% q.ans_a %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "B"><% q.ans_b %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "C"><% q.ans_c %>
        <input type ="radio" name="answer_<% q.id_quest %>" value = "D"><% q.ans_d %>
        </li><br>
    <% END %>
</ol>
<% END  %>
<input type="submit" value="Check!" />
</form>

